{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <meta charset="utf-8">
        <title>Banking</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/style(2).css' %}">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>

    <body>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <img src="{% static 'image/banklogo.jpg' %}" class="logo lmgl" alt="loading">
            <label class="logo">TSF Bank</label>

            <ul>
                <li><a class="active" href="{%url 'home'%}">Home</a></li>
                <li><a href="{%url 'about_us'%}">About Us</a></li>
                <li><a href="{%url 'view_customer'%}">View Customers</a></li>
                <li><a href="{%url 'transhistory'%}">Transaction History</a></li>

            </ul>
        </nav>

        <section id="home">
            <video src="{% static 'video/videos.mp4' %}" id="bgvideo" autoplay loop muted>
        </section>


        <div id="overlay">
            <div id="content">
                <div id="homeheading">
                    <h1 id="homeheading1">WELCOME TO TSF BANK. </h1>
                    <h2 id="homeheading2">ONE TAP <span id="span1">TRANSFER MONEY.</span> </h2>
                </div>
                <div id="hometext">
                    <p id="para1">
                        Powered by GRIP Association.<br>A different approach to Banking.
                    </p>

                </div>

                <div id="homebtn">
                    <!-- <button class="btn btngeneral">Transfer Money</button> -->
                    <a href="{%url 'trans'%}#" class="btn btngeneral" role="button" id="but">Transfer Money</a>
                </div>
            </div>
        </div>
        <div class="messagecontent">
            <div class="container3">

                <h2 id="head1">Planning to transfer money online?</h2><br>
                <h3 id="head2">Join us now.Add your details.</h3><br>
                <a href="{%url 'new_cus'%}#" class="btn1 signup" role="button" id="but">Add a customer</a>

            </div>

        </div>
        <footer>
            <div class="container4">
                <p id="para2">Designed and Developed By<br></p>
                <p id="parpara">Purva Jagtap</p>
                <p id="copy"> &copy; Copyright 2021:TSF Bank</p>

            </div>


        </footer>
    </body>

</html>