*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: montserrat;
  }
  nav{
    background: black;
    height: 70px;
    width: 100%;
  }
  .logo{
    /*border: red solid 2px;*/
    color: white;
    font-size: 35px;
    line-height: 50px;
    font-weight: bold;
    height: 50px;
    width: 50px;
    
  }
  
  .lmgl{
      margin-top: 10px;
  }
  
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
  
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 28%;
      height: 23%;
      background: #2c3e50;
      top: 60px;
      left: 100%;
      margin-left: 73%;
      text-align: left;
      /*transition: all .5s;*/
    }
    nav ul li{
      display: block;
      margin: 20px 0;
      line-height: 0px;
    }
    nav ul li a{
      font-size: 3%;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
  /*section{
    background: url(bg1.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
  }*/
  
#home {
    background: none;
    height: 10%;
}

#bgvideo {
    position: flex;
    margin-top: -10px;
    top: 30%;
    left: 50%;
    object-fit: cover;
    /*transform: translateX(-50%) translateY(-50%);*/
    min-width: 100%;
    min-height: 100%;
    /*width: 100%;*/
    /* height: 100%;*/
    z-index: -1;
    /*opacity: 70%;*/
    width: 100px;
    height: 400px;
}

@media screen and (max-width:600px){
    #bgvideo{
        position: flex;
    top: 30%;
    left: 50%;
    object-fit: cover;
    /*transform: translateX(-50%) translateY(-50%);*/
    min-width: 100%;
    min-height: 100%;
    /*width: 100%;*/
    /* height: 100%;*/
    z-index: -1;
    /*opacity: 70%;*/
    width: 100px;
    height: 200px;
    }
}
#overlay {
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    /*height: 80%;*/
    /*min-height: 100vh;*/
    display: flex;
    align-items: center;
    justify-content: center;
    /* top: 0%;
left: 20%;*/
    z-index: -1;
}

.overlay h2 {
    background: #000 none repeat scroll 0 0;
    color: tan;
    font-weight: 600;
    margin: 2rem 3rem 0;
    /*mix-blend-mode: overlay;*/
    padding: 5px 15px;
    text-align: center;
}

#content {
    width: 100%;
    height: fit-content;
    display: table;
    margin-top: -150px;
    position: absolute;
}


#homeheading {
    color: white;
    text-transform: uppercase;
    margin: 0px;
    display: inline-block;
    font-weight: 700;
    position: relative;

}

#span1 {
    color: yellow;
    text-transform: uppercase;
    font-weight: 700;
}

#hometext {
    color: white;
    font-weight: 100;
    margin: 8px 0px 30px 0;
}

#homeheading1,
#homeheading2 {
    position: relative;
    /*border: 2px solid black;*/
    left: 10px;
    font-size: 250%;
    /*font-size: xx-large;*/
}
#para1 {
    position: relative;
    /*border: 2px solid black;*/
    left: 10px;
    padding: 10px;
    display: inline-block;
    font-size: 170%;
}

.btngeneral {
    background-color: #ffef00;
    opacity: 0.8;
    cursor: pointer;
    box-shadow: 0 7px #f4c613;
    /*padding: 15px 40px;*/
    border-radius: 20px;
    border: white;
    color: black;
    text-transform: uppercase;
    margin: 0 6px;
    font-family: 'Source Serif Pro', serif;
    padding: 15px 20px 15px 20px;   
    position: -10px;


}

.btn:hover {
    color: white;
    transition: all 0.4s;
}

.btn:active {
    position: relative;
    top: 7px;
    box-shadow: none;
}

@media screen and (max-width:600px){
    #overlay {
        background-color: rgba(0, 0, 0, 0.1);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: -1;
    }
    
    .overlay h2 {
        background: #000 none repeat scroll 0 0;
        color: tan;
        font-weight: 600;
        margin: 2rem 3rem 0;
        padding: 5px 15px;
        text-align: center;
    }
    
    #content {
        width: 100%;
        height: fit-content;
        display: table;
        margin-top: -15%;
        position: absolute;
    }
    
    
    #homeheading {
        color: white;
        text-transform: uppercase;
        margin: 0px;
        display: inline-block;
        font-weight: 700;
        position: relative;
        margin-top: -20%;
    
    }
    
    #span1 {
        color: yellow;
        text-transform: uppercase;
        font-weight: 700;
    }
    
    #hometext {
        color: white;
        font-weight: 100;
        margin: 2px 0px 3px 0px;
    }
    
    #homeheading1,
    #homeheading2 {
        
        position: relative;
        left: 1.5vw;
        font-size: 90%;
    }
    #para1 {
        position: relative;
        /*border: 2px solid black;*/
        left: 1vw;
        padding: 1vw;
        display: inline-block;
        font-size: 60%;
    }
    
    .btngeneral {
        background-color: #ffef00;
        opacity: 0.8;
        cursor: pointer;
        box-shadow: 0 5px #f4c613;
        border-radius: 5px;
        border: white;
        color: black;
        text-transform: uppercase;
        margin: 0 6px;
        font-family: 'Source Serif Pro', serif;
        padding: 5px 7px 5px 7px;   
        position: -20%;
        font-size: 50%;
    
    
    }
    
    .btn:hover {
        color: white;
        transition: all 0.4s;
    }
    
    .btn:active {
        position: relative;
        top: 7px;
        box-shadow: none;
    }

}
.messagecontent {
    border-bottom: 1px solid black;
    padding-bottom: 120px;
    background-color: #f7f7f7;
    margin-left: 0px;

}
.container3 {
    /*border: 2px solid gray;*/
    display: inline-block;
    top: 60px;
    bottom: 30px;
    left: 0px;
    position: relative;
    text-align: center;
    width: 100%;
    height: fit-content;
    
}


#head1 {
    display: inline-block;
    
    position: relative;
    font-size: 170%;
    font-family: "Lucida Grande";
    color: #5f5d60;
    font-weight: 500;

}

#head2 {
    /*border: 2px solid gray;*/
    display: inline-block;
    position: relative;
    
    top: 5%;
    font-size: 120%;
    font-family: "Lucida Grande";
    color: #5f5d60;
    font-weight: lighter;
}

.btn1 {
    /*opacity: 100%;*/
    height: 50px;
    width: 250px;
    font-size: medium;
    background-color: #ffef00;
    opacity: 0.8;
    cursor: pointer;
    box-shadow: 0 7px #f4c613;
    /*padding: 15px 40px;*/
    border-radius: 2px;
    border: white;
    text-transform: uppercase;
    margin: 0 6px;
    /*padding: 4px 20px 9px 20px;*/
    border-radius: 20px;
    font-family: 'Source Serif Pro', serif;
    /*padding: 15px 20px 15px 20px;   */
    position: -10px;

}

.btn1:hover {
    color: white;
    font-weight: 200;
}

.btn1:active {
    position: relative;
    top: 7px;
    box-shadow: none;
}

.signup {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    font-family: 'Source Serif Pro', serif;
    display: inline-block;
    opacity: 80%;
}

@media screen and (max-width:600px){
    .messagecontent {
        border-bottom: 1px solid black;
        padding-bottom: 100px;
        background-color: #f7f7f7;
        margin-left: 0px;
    
    }
    .container3 {
        /*border: 2px solid gray;*/
        display: inline-block;
        top: 10px;
        bottom: 30px;
        left: 0px;
        position: relative;
        text-align: center;
        width: 100%;
        height: fit-content;
        
    }
    
    #head1 {
        display: inline-block;
        position: relative;
        font-size: 60%;
        font-family: "Lucida Grande";
        color: #5f5d60;
        font-weight: 500;
        /*border: 2px solid gray;*/
    }
    
    #head2 {
        /*border: 2px solid gray;*/
        display: inline-block;
        position: relative;
        top: -7px;
        font-size: 48%;
        font-family: "Lucida Grande";
        color: #5f5d60;
        font-weight: lighter;
    }
    
    .btn1 {
        /*opacity: 100%;*/
        height: 5vw;
        width: 25vw;
        font-size: medium;
        background-color: #ffef00;
        opacity: 0.8;
        cursor: pointer;
        box-shadow: 0 5px #f4c613;
        border-radius: 2px;
        border: white;
        color: black;
        text-transform: uppercase;
        margin: 0 6px;
        border-radius: 20px;
        font-family: 'Source Serif Pro', serif;
        position: relative;
        font-size: 2.3vw;
        top: -10px;
          
    }
    
    .btn1:hover {
        color: white;
        font-weight: 200;
    }
    
    .btn1:active {
        position: relative;
        top: 5px;
        box-shadow: none;
    }
    
    .signup {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 20px;
        font-family: 'Source Serif Pro', serif;
        display: inline-block;
        opacity: 80%;
    }

}

.container4 {
    border-top: 6px thick gray;
    display: inline-block;
    top: 4px;
    left: 0px;
    padding-bottom: 4px;
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
    width: 100%;
    text-align: center;
}


#para2 {
    font-size: medium;
    
    display: block;
    top: 0px;
    /*text-align: center;*/
}

#parpara {
    font-size: large;
    
    display: block;


}

#copy {
    color: #b3aeb5;
    font-size: 12px;
    display: block;
    

}

@media screen and (max-width:600px){
    .container4 {
        border-top: 5px thick gray;
        display: inline-block;
        top: 4px;
        left: 0px;
        padding-bottom: 4px;
        padding-left: 0px;
        padding-right: 0px;
        position: relative;
        width: 100%;
        text-align: center;
    }
    
    
    #para2 {
        font-size: xx-small;
        display: block;
        top: 0px;
        /*text-align: center;*/
    }
    
    #parpara {
        font-size: x-small;
        display: block;
    
    
    }
    
    #copy {
        color: #b3aeb5;
        font-size: 1.5vw;
        display: block;
    }
    
    
    
}
